<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr>
        <table>
            {{#each posts}} 
            <tr>
                <td>{{@id}}</td>
                <td>{{title}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>