<div class="col-md-12">
  <h2>Register</h2><hr>
  {{#if errMessage}}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{errMessage}}
    </div>
  {{/if}}
  {{#if message}}
  <div class="alert alert-success"> 
    <strong>Success:</strong> 
    {{message}}
  </div>
  <a class="btn btn-success pull-right" href="/login">
    &nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;
  </a><br/><br/><br/>
  {{else}}
  <form method="post" action="/register">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input class="full-tbox" type="text" name="username" id="username" placeholder="Username" size="40" autofocus required="">
          <input class="full-tbox" type="password" name="password" id="password" placeholder="Password" size="40" required="">
          <input class="full-tbox" type="password" name="password2" id="password2" placeholder="Confirm Password" size="40" required="">
          <input class="full-tbox" type="email" name="email" id="email" placeholder="Email" size="40" required="">
          <hr>
          <input type="submit" class="btn btn-primary pull-right" value="Register"><br><br><br>
        </div>
      </div>
    </div>
    {{/if}}
  </form>
</div>